Test bodo snowflake connectivity

In [1]:
import snowflake.connector
#import bodo
import time
from sqlalchemy.dialects import registry
registry.register('snowflake', 'snowflake.sqlalchemy', 'dialect')

In [2]:
import os
with open("./snowflake-secrets-azure.txt","r") as f:
    for line in f:
        args=line.split("=")
        os.environ[args[0]]=args[1].strip()
username=os.environ["username"]
password=os.environ["password"]
account=os.environ["account"]
warehouse="TEST_VW"
database="BODO_DB"
role="BODO_R1"

In [4]:
import bodo
import pandas as pd
@bodo.jit()
def test_connection():
    df=pd.read_sql('select * from PUBLIC.TEST_TABLE limit 200', f"snowflake://{username}:{password}@{account}/{database}/public?role={role}&warehouse={warehouse}",)
    print(len(df))
    return df
df=test_connection()
df

200

,l_orderkey,l_partkey,l_suppkey,l_linenumber,l_quantity,l_extendedprice,l_discount,l_tax,l_returnflag,l_linestatus,l_shipdate,l_commitdate,l_receiptdate,l_shipinstruct,l_shipmode,l_comment
0,1,1552,93,1,17.0,24710.35,0.04,0.02,N,O,1996-03-13,1996-02-12,1996-03-22,DELIVER IN PERSON,TRUCK,egular courts above the
1,1,674,75,2,36.0,56688.12,0.09,0.06,N,O,1996-04-12,1996-02-28,1996-04-20,TAKE BACK RETURN,MAIL,ly final dependencies: slyly bold
2,1,637,38,3,8.0,12301.04,0.10,0.02,N,O,1996-01-29,1996-03-05,1996-01-31,TAKE BACK RETURN,REG AIR,"riously. regular, express dep"
3,1,22,48,4,28.0,25816.56,0.09,0.06,N,O,1996-04-21,1996-03-30,1996-05-16,NONE,AIR,lites. fluffily even de
4,1,241,23,5,24.0,27389.76,0.10,0.04,N,O,1996-03-30,1996-03-14,1996-04-01,NONE,FOB,pending foxes. slyly re
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,194,26,52,1,17.0,15742.34,0.05,0.04,R,F,1992-05-24,1992-05-22,1992-05-30,COLLECT COD,AIR,regular deposi
196,194,1836,80,2,1.0,1737.83,0.04,0.06,R,F,1992-04-30,1992-05-18,1992-05-23,NONE,REG AIR,"regular theodolites. regular, iron"
197,194,660,54,3,13.0,20288.58,0.08,0.08,A,F,1992-05-07,1992-06-18,1992-05-10,NONE,AIR,about the blit
198,194,1452,53,4,36.0,48724.20,0.00,0.05,R,F,1992-05-21,1992-05-18,1992-05-27,TAKE BACK RETURN,RAIL,pecial packages wake after the slyly r
199,194,562,23,5,8.0,11700.48,0.04,0.00,R,F,1992-07-06,1992-06-25,1992-07-11,COLLECT COD,FOB,uriously unusual excuses

In [75]:
password="badpass1"

In [62]:
import bodo
import pandas as pd
@bodo.jit()
def test_connection():
    df=pd.read_sql('select * from PUBLIC.WEATHER', f"snowflake://{username}:{password}@{account}/{database}/public?role={role}&warehouse={warehouse}",)
    return df
try:
    df=test_connection()
except Exception as e:
    print(f"error connecting to database {e}")

error connecting to database Failed to connect to DB: persistent_partner.us-east-1.snowflakecomputing.com:443. Incorrect username or password was specified.

In [ ]:
import time
import snowflake.connector
def snowtest():
    t0 = time.time()
    print("start reading")
    cursor = snowflake.connector.connect(
        user=username,
        account=account,
        password=password,
        warehouse=warehouse,
        database=database,
        schema=schema
    ).cursor()
    sql = f'select * from {schema}.{table} limit {limit}'
    cursor.execute(sql)
    df = cursor.fetch_pandas_all()
    #df = df.groupby("REF").sum()
    print(f"df read time connector: {round(time.time() - t0, 3)}")
    return df
df=snowtest()
df